<div>
    <h2>Media List</h2>
    <div id="listOfMedia">
        <p>Creator: {{mediaList.creator}}</p>
        <a href="/medialist/{{mediaList._id}}/progress">Progress: {{progress}}</a>
        {{#list mediaList.media}}
            {{title}}
            <a href="/medialist/{{mediaList._id}}/{{_id}}/skip">👎</a>
            <a href="/medialist/{{mediaList._id}}/{{_id}}/watched">👀</a>
        {{/list}}
    </div>
    <form method="POST" action="/medialist/{{mediaList._id}}/addMedia">
        <h3>Add Media to List</h3>
        <div>
            <label for="mediaTitle">Title</label>
            <input id="mediaTitle" type="text" placeholder="title of media" name="mediaTitle"/>
        </div>
        <div>
            <label for="mediaType">Type of Media</label>
            <input id="mediaType" type="text" placeholder="type of media" name="mediaType"/>
        </div>
        <div>
            <label for="numEpisodes">Number of Episodes</label>
            <input id="numEpisodes" type="number" placeholder="number of Episodes" name="numEpisodes"/>
        </div>
        <div>
            <label for="refLink">Reference Link</label>
            <input id="refLink" type="url" placeholder="link to imdb" name="refLink"/>
        </div>
        <input type="submit">
    </form>
    <form method="POST" action="/medialist/{{mediaList._id}}/addMember">
        <h3>Add Member</h3>
        <div>
            <label for="newMember">Member ID:</label>
            <input id="newMember" type="text" placeholder="ID of member to be added" name="newMember"/>
        </div>
        <input type="submit">
    </form>
    {{#if errors}}
        <div>
            <ul class="error-list">
                {{#each errors}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}